/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Century-Gothic-Bold';
    src: url('Century-Gothic-Bold.eot');
    src: url('Century-Gothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('Century-Gothic-Bold.woff') format('woff'),
         url('Century-Gothic-Bold.ttf') format('truetype'),
         url('Century-Gothic-Bold.svg#Century-Gothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}